body{
    font: 10px sans-serif;
    background-image: url("../src/images/texture-noise.png");
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.header {
    width: 100%;
    text-align: center;
    margin: 2% 0;
    font-size: 400%;
    font-weight: bold;
}

.button2 {
    text-align: center;
    margin-left: 30 px;
    margin-bottom: 2cm;
}
